@use './styles/variables.scss' as *;
/* src/index.scss */
html {
  scroll-behavior: smooth;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: linear-gradient(135deg, #FFD700, #C9A328, #B8860B); 
  --font-sans: 'Inter', sans-serif;
}

body {
  font-family: var(--font-sans);
  background: #ffffff;
  color: #fff;        /* texto branco */
}
